.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  a{
    opacity: 1;
    
  }
  a:hover{
    opacity: 0.8;
    transition: opacity  linear .3s;
  }
  li{
    list-style-type: none;
  }